// fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@mixin font-regular {
    line-height: 140%;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
  }

@mixin font-bold {
  font-size: 22px;
  line-height: 120%;
  font-weight: 700;
  letter-spacing: 0px;
}  

@mixin h-center-container {
    display: block;
    margin: 0 auto;
}


// colors
$color-slate--900: #1F314F;
$color-slate--500: #68778D;
$color-slate--300: #D5E1EF;
$color-slate--300: #D5E1EF;
$color-white: #ffffff;


// spacings
$spacing-500: 40px;
$spacing-300: 24px;
$spacing-200: 16px;


// QR landing page
body {
    @include font-regular;
    font-family: "Outfit", serif;
    background-color: $color-slate--300;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.qr-container {
    width: 320px;
    background-color: #ffffff;
    padding-top: 16px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

    & img {
        width: 288px;
        border-radius: 10px;
    }

    &__text{
        padding: 0 $spacing-300;

        &--header {
            @include font-bold;
            color: $color-slate--900
        }
    }
 
}

.attribution {
    @include h-center-container;
    width: 500px;
    text-align: center;
    padding: $spacing-300;
}