@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  font-family: "Outfit", serif; }

body {
  background-color: #D5E1EF; }

.qr-container {
  display: block;
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
  padding: 16px 16px 16px 40px;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  text-align: center; }
  .qr-container img {
    width: 288px; }
  .qr-container__header-text {
    font-size: 22px;
    line-height: 120%;
    font-weight: 700;
    letter-spacing: 0px;
    color: #1F314F; }
  .qr-container__header-paragraph {
    line-height: 140%;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #68778D; }
